<!-- Sponsors Section -->
<section class="success" id="sponsors">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Sponsors</h2>
           </div>
       </div>
       <div class="row">
           <a href="https://mi.com"><div class="col-md-4">
             <div class="sponsor-row-box">
               <img src="{{site.baseurl}}/img/sponsors/mi.svg" alt="Xiaomi"/>
             </div>
           </div></a>
           <a href="https://apache.org"><div class="col-md-4">
             <div class="sponsor-row-box">
               <img src="{{site.baseurl}}/img/sponsors/asf.png" alt="Apache Software Foundation" />
             </div>
           </div></a>
       </div>
   </div>
</section>
